<div class="ec-sliderRole">
        <div class="main_visual">
            <div class="item slick-slide"><a href="{{ url('homepage') }}?mode=f18"><img src="{{ asset('assets/img/top/img_hero_pc01.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="{{ url('homepage') }}?mode=f139"><img src="{{ asset('assets/img/top/img_hero_pc02.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="{{ url('homepage') }}?mode=f8"><img src="{{ asset('assets/img/top/img_hero_pc03.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="{{ url('homepage') }}?mode=f10"><img src="{{ asset('assets/img/top/img_hero_pc04.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="{{ url('homepage') }}?mode=f8"><img src="{{ asset('assets/img/top/img_hero_pc05.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="https://shoichi.jp/seminar.php" target="_blank"><img src="{{ asset('assets/img/top/img_hero_pc06.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="{{ url('homepage', {pid: 149672902 }) }}"><img src="{{ asset('assets/img/top/img_hero_pc07.jpg') }}"></a></div>
            <div class="item slick-slide"><a href="{{ url('homepage') }}?mode=f9"><img src="{{ asset('assets/img/top/img_hero_pc08.jpg') }}"></a></div>
        </div>
    </div>